# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

##############################
#
# Custom Ignores
#
##############################

# CMakeTools VSCode extension build files
# Ignore subdirectory build folders but not root build/
ltridp/build/
SDP_LTRIDP/build/
SLIC Demo/build/
evaluation/build/
*/build

# Include the root build directory
!/build/

# VSCode settings
*/.vscode
.vscode

# macOS system files
.DS_Store
**/.DS_Store

# README files in ltridp (right now README are a bit scrappy for my own reference. will add later)
ltridp/**/README.md

# Project directories
opencv_slic/
ketsia_docs/
.github/
.context/

# Images being used for the SLIC demo or for SuperDuperPixels
SLIC Demo/*.png
SLIC Demo/*.jpg
SLIC Demo/*.jpeg
SuperDuperPixels/*.png
SuperDuperPixels/*.jpg
SuperDuperPixels/*.jpeg

# Include images in an img directory for the SLIC demo or for SuperDuperPixels
!SLIC Demo/img/*
!SuperDuperPixels/img/*
